In [66]:
import pandas as pd
import numpy as np
import bisect

In [114]:
#DHM_Veterans_Provider_Enrollment.csv
f = 'https://data.mo.gov/api/views/8zvy-7azn/rows.csv'

In [115]:
df = pd.read_csv(f, header = 0)

In [116]:
df.head()

,Company Name,BAN,Substance Abuse,LCSW,LPC,MFT,LMSW,PLPC,Psychiatric Nurse Practitioner,Psychiatrist,...,Traumatic Brain Injury,Website,Phone Number,Zip Code,Country,TRICARE,Military Culture,Admin Notes,Location 1,Suite No.
0,Abundant Life Counseling Center,No,No,No,Yes,No,No,No,No,No,...,Yes,NaN,8167183080,64081,United States,No,"Not yet, but I would like to work with the mil...",NaN,"414 SW Persels Rd\nLee's Summit, Missouri 6408...",NaN
1,"Accessing Change, Inc.",No,No,Yes,No,No,Yes,No,No,No,...,No,http://www.accessingchange.com,8165824684,64158,United States,Yes,"Not yet, but I would like to work with the mil...",NaN,"9601 NE Barry Road\nKansas City, Missouri 6415...",Suite 220
2,"Adriatik Likcani, MFT",No,Yes,No,No,Yes,No,No,No,No,...,No,http://www.recoverylighthouse.org,6604292222,65301,United States,No,"Not yet, but I would like to work with the mil...",NaN,"417 West Pettis\nSedalia, Missouri 65301\n(38....",NaN
3,Alford Counseling,No,No,Yes,No,No,No,No,No,No,...,No,NaN,6605826470,64468,United States,No,"Not yet, but I would like to work with the mil...",NaN,"106 West Edwards\nMaryville, Missouri 64468\n(...",NaN
4,"Alicia Ozenberger, LPC",No,No,No,Yes,No,No,No,No,No,...,No,NaN,5739901112,65010,United States,No,"Not yet, but I would like to work with the mil...",NaN,"305 E. Broadway\nAshland, Missouri 65010\n(38....",NaN

In [8]:
df.keys()

Index(['Company Name', 'BAN', 'Substance Abuse', 'LCSW', 'LPC', 'MFT', 'LMSW',
       'PLPC', 'Psychiatric Nurse Practitioner', 'Psychiatrist',
       'Psychologist', 'Alcohol and Substance Abuse', 'Anger Management',
       'Child/Adolescent', 'Domestic Violence', 'Faith Based',
       'Family/Marriage', 'General Mental Health', 'Post Traumatic Stress',
       'Sexual Assault', 'Suicide Prevention', 'Traumatic Brain Injury',
       'Website', 'Phone Number', 'Zip Code', 'Country ', 'TRICARE',
       'Military Culture', 'Admin Notes', 'Location 1', 'Suite No.'],
      dtype='object')

In [9]:
5/14*(-2/5*np.log2(2/5)-3/5*np.log2(3/5)) + 4/14*(-1*np.log2(1)) + 5/14*(-3/5*np.log2(3/5)-2/5*np.log2(2/5))

0.69353613889619181

In [52]:
def I(counts):
    I = 0
    total = sum(counts)
    for c in iter(counts):
        c_i = c
        p_i = float(c/total)
        I += -p_i*np.log2(p_i)
    return(I)

In [13]:
grouped = df.groupby('TRICARE')

In [23]:
no_t = grouped.count()['Company Name'][0]
yes_t = grouped.count()['Company Name'][1]
T = yes_t + no_t
p_yt = float(yes_t/T)
p_nt = float(no_t/T)

In [25]:
Info_t = -(p_yt*np.log2(p_yt) + p_nt*np.log2(p_nt))

In [93]:
x_keys = ['LCSW', 'Psychiatrist', 'MFT', 'Psychologist']

In [32]:
X = np.array([[df[x_keys[0]]],[df[x_keys[1]]],[df[x_keys[2]]],[df[x_keys[3]]]])

In [34]:
grouped = df.groupby(['TRICARE', x_keys[0]])

In [38]:
grouped.count()['Company Name']

TRICARE  LCSW
No       No      202
         Yes      21
Yes      No      109
         Yes      37
Name: Company Name, dtype: int64

In [40]:
no_i_no = grouped.count()['Company Name'][0]
no_i_yes = grouped.count()['Company Name'][1]
yes_i_no = grouped.count()['Company Name'][2]
yes_i_yes = grouped.count()['Company Name'][3]

In [50]:
counts_i_no = [grouped.count()['Company Name'][0],grouped.count()['Company Name'][2]]
counts_i_yes = [grouped.count()['Company Name'][1],grouped.count()['Company Name'][3]]

In [58]:
Info_i = sum(counts_i_no)/T*I(counts_i_no) + sum(counts_i_yes)/T*I(counts_i_yes)
G_i = I_t - Info_i

In [67]:
Gains = []
for key in x_keys:
    grouped = df.groupby(['TRICARE', key])
    counts_i_no = [grouped.count()['Company Name'][0],grouped.count()['Company Name'][2]]
    counts_i_yes = [grouped.count()['Company Name'][1],grouped.count()['Company Name'][3]]
    Info_i = sum(counts_i_no)/T*I(counts_i_no) + sum(counts_i_yes)/T*I(counts_i_yes)
    bisect.insort_left(Gains, (I_t - Info_i, key))

In [75]:
root = Gains[-1][1]
rootcats = list(set(df[root]))

In [113]:
root

'Psychologist'

In [84]:
branchdict = {}
resultdict = {'root':{'Gain':Gains[-1], 'Branches':set(df[Gains[-1][1]])}}

In [87]:
nbranch = len(rootcats)

In [97]:
branch_i = rootcats[0]
new_keys_0 = x_keys
new_keys_0.remove(Gains[-1][1])

ValueError: list.remove(x): x not in list

In [99]:
new_keys_0

['LCSW', 'Psychiatrist', 'MFT']

In [98]:
branch_i = rootcats[0]

In [100]:
sdf = df.loc[df[Gains[-1][1]] == branch_i]

In [101]:
grouped = sdf.groupby('TRICARE')
no_t = grouped.count()['Company Name'][0]
yes_t = grouped.count()['Company Name'][1]
T = yes_t + no_t

In [104]:
Info_t = I([yes_t, no_t])#-(p_yt*np.log2(p_yt) + p_nt*np.log2(p_nt))
Info_t

0.72192809488736231

In [108]:
Gains = []
for key in new_keys_0:
    grouped = sdf.groupby(['TRICARE', key])
    counts_i_no = [grouped.count()['Company Name'][0],grouped.count()['Company Name'][2]]
    counts_i_yes = [grouped.count()['Company Name'][1],grouped.count()['Company Name'][3]]
    Info_i = sum(counts_i_no)/T*I(counts_i_no) + sum(counts_i_yes)/T*I(counts_i_yes)
    bisect.insort_left(Gains, (I_t - Info_i, key))

IndexError: index out of bounds

In [112]:
grouped = sdf.groupby(['TRICARE', 'Psychiatrist'])
grouped.count()['Company Name']

TRICARE  Psychiatrist
No       No               6
Yes      No              22
         Yes              2
Name: Company Name, dtype: int64

In [76]:
branches = []
for cat in rootcats:
    branches.append(root + ':' + cat)

In [77]:
branches

['Psychologist:Yes', 'Psychologist:No']